$url: "../images/";
$loadingW: 200px;
$halfLoadingW: 100px;
$delay: 2s;
$circleDelay: 0.25s;

.loadingByImage{
    width: $loadingW;
    height: $loadingW;
    overflow: hidden;

    //左右外框宽度为loading图的一半，只显示一半
    .leftDiv,
    .rightDiv{
        float: left;
        position: relative;
        width: $halfLoadingW;
        height: $loadingW;
        overflow: hidden;
    }

    //左右内框宽度为loading图宽度
    .leftInnerDiv,
    .rightInnerDiv{
        position: absolute;
        width: 200%;
        height: 100%;
        background: url(#{$url}loading.png) no-repeat center 0;
        background-size: $loadingW $loadingW;
        border-radius: 50%;
        box-sizing: border-box;

    }

    .leftInnerDiv {
        //显示图右边的一半
        clip: rect(0, $loadingW, $loadingW, $halfLoadingW);
        //右半区旋转完成后，左半区开始旋转
        // animation: rotate $delay 1 linear $delay;
        // animation-fill-mode: forwards;
    }
    .rightInnerDiv {
        //显示图左边的一半 位置左移$halfLoadingW
        clip: rect(0, $halfLoadingW, $loadingW, 0);
        left: -100%;

        // animation: rotate $delay linear 1;
        // animation-fill-mode: forwards;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(180deg)
        }
    }
}

.loadingByNormal{
    width: 100px;
    height: 100px;
    position: relative;
    span{
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: gray;
        position: absolute;
        animation: load 2s ease infinite;
    }

    @keyframes load {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0.2;
        }
    }
    span:nth-child(1){
        left: 0;
        top: 50%;
        margin-top:-8px;
        animation-delay:$circleDelay;
    }
     span:nth-child(2){
        left: 14px;
        top: 14px;
        animation-delay:$circleDelay*2;
    }
     span:nth-child(3){
        left: 50%;
        top: 0;
        margin-left: -8px;
        animation-delay:$circleDelay*3;
    }
     span:nth-child(4){
        top: 14px;
        right:14px;
        animation-delay:$circleDelay*4;
    }
     span:nth-child(5){
        right: 0;
        top: 50%;
        margin-top:-8px;
        animation-delay:$circleDelay*5;
    }
     span:nth-child(6){
        right: 14px;
        bottom:14px;
        animation-delay:$circleDelay*6;
    }
     span:nth-child(7){
        bottom: 0;
        left: 50%;
        margin-left: -8px;
        animation-delay:$circleDelay*7;
    }
     span:nth-child(8){
        bottom: 14px;
        left: 14px;
        animation-delay:$circleDelay*8;
    }
}